@using Quack.Models.Account
@model UserDTO

@section Scripts {
  <script>
  var userId = '@Html.Raw(Model.ID)'
  </script>
  <script src="@Url.Content("~/static/js/Post.js")"> </script>
  <script src="@Url.Content("~/static/js/User.js")"> </script>
}

@section Styles {
    <link rel="stylesheet" href="~/static/css/Post.css" />
    <link rel="stylesheet" href="~/static/css/User.css" />
}


<div class="user-container">
  <div class="profile-container">
    <img class="profile-picture" src="@Model.avatarUrl"> 
    <div class="profile-text-container">
      <div class="username"> @Model.username </div>
            <div class="profile-right">
          @if(@Model.followed == false) {
        <form asp-controller="Account" asp-action="FollowUser" asp-route-ID="@Model.ID" method="post">
            <button class="btn follow-btn" type="submit">Follow</button>
        </form>
          } else {

        <form asp-controller="Account" asp-action="UnfollowUser" asp-route-ID="@Model.ID" method="post">
            <button class="btn unfollow-btn" type="submit">Unfollow</button>
        </form>
        }
      </div>

      <div class="atext">
        <div>Total posts count: @Model.postsCount</div>
        <div>Total comments count: @Model.commentsCount</div>
        <span>Followers: @Model.followedByCount, Follows: @Model.followingCount</span>
      </div>
      <div style="clear:both"> </div>

    </div>
  </div>
  <partial name="UserPosts"> </partial>
</div>
